/* Sidebar styles */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 93vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #213244;
    padding: 10px;
  }
  
  .sidebar h1 {
    color: #ffffff;
    margin: 0;
    padding-bottom: 20px;
  }
  
  .sidebar nav {
    margin-top: 20px;
    flex-grow: 1; /* Takes up available space */
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar li {
    margin: 10px 0;
  }
  
  .sidebar li a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff; /* Default background */
    color: #007bff; /* Default text color */
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .sidebar li a:hover {
    background-color: #1c1fc1;
    color: #ffffff;
  }
  
  .sidebar li a.active {
    background-color: #1c1fc1; /* Active link background */
    color: #ffffff; /* Active link text color */
    pointer-events: none; /* Prevent hover effect on active links */
  }
  
  /* Content area styles */
  .content {
    margin-left: 250px; /* Space for sidebar */
    padding: 20px;
    width: calc(100% - 250px);
    height: 100vh;
    overflow-y: auto; /* Allow scrolling */
  }
  
  /* Logout button styles */
  .logout-container {
    margin-top: auto; /* Pushes logout button to the bottom */
  }
  
  .logout-button {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ffffff; /* Same as sidebar links */
    color: #007bff;
    border: none;
    cursor: pointer;
    text-align: center;
    width: 100%; /* Full width */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .logout-button:hover {
    background-color: #a6a7d3;
    color: #ffffff;
  }
  