.my-exams-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .courses-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .courses-table th,
  .courses-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: black;
  }
  
  .courses-table th {
    background-color: #f2f2f2;
  }
  
  .take-exam-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  .take-exam-button:hover {
    background-color: darkcyan;
  }
  