.sidebar a {
  text-decoration: none; 
  position: fixed;
  color: #050404; /* Default text color */
  font-size: 18px; 
  display: block; 
  padding: 10px; /* Padding inside links */
  border-radius: 5px; /* Rounded corners for links */
  transition: color 0.3s; /* Smooth color transition */
}

.sidebar a:hover {
  color: #dd2209; /* Change text color on hover */
}

.sidebar a.active {
  font-weight: bold; /* Make active link bold */
  background-color: rgba(0, 0, 0, 0.5); /* Dark background for active link */
  color: #bae717; /* Text color for active link */
}
