.students {
  margin: 20px;
}

h2 {
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
}

.student-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.student-table th,
.student-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.student-table th {
  background-color: green;
}

.add-student-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between input fields */
  margin-bottom: 10px;
}

.form-row input,
.form-row select {
  padding: 10px;
  flex: 1; /* Allow inputs to grow */
  min-width: 120px; /* Minimum width for inputs */
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error-message {
  color: red;
  margin-top: 10px;
}
