/* src/components/Layout.css */

* {
  box-sizing: border-box; /* Ensure padding and border are included in element's total width and height */
  margin: 0; /* Reset default margin */
  padding: 0; /* Reset default padding */
}

html,
body {
  height: 100%; /* Full height for the body */
}

.layout {
  display: flex; /* Flexbox layout for sidebar and content */
  height: 100vh; /* Full height of the viewport */
}

.sidebar {
  width: 200px; /* Set width for the sidebar */
  background-color: #f4f4f4; /* Background color */
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed; /* Fix the sidebar position */
  height: 100%; /* Full height */
  overflow-y: auto; /* Allow vertical scrolling if needed */
}

.sidebar h2 {
  margin-bottom: 20px; /* Spacing below the header */
}

.sidebar ul {
  list-style: none; /* Remove bullet points */
}

.sidebar li {
  margin: 15px 0; /* Spacing between items */
}

.sidebar a {
  text-decoration: none; /* Remove underline */
  color: #333; /* Link color */
}

.sidebar .logout-link {
  color: #e74c3c; /* Logout link color */
}

.sidebar .logout-link:hover {
  text-decoration: underline; /* Underline on hover */
}

.content {
  margin-left: 220px; /* Add margin to the left to prevent content overlap with the sidebar */
  padding: 20px;
  overflow-y: auto; /* Allow vertical scrolling for content */
  height: calc(
    100vh - 40px
  ); /* Set height to fit the viewport with some padding */
  max-height: 1000vh; /* Set max height to 50% of the viewport */
  width: calc(100% - 220px); /* Set width of the content area */
}
